body {
  background-color: rgb(93, 73, 93);
  color: rgb(231, 219, 211);
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: large;
  color: purple;
}

h1 {
  font-size: 40px;
  color: #ff6600;
  width: 400px;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  margin: 30px auto;
  letter-spacing: 6px;
}

img {
  border-radius: 35%;
  margin: 20px auto;
  display: block;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  box-shadow: 5px 5px 10px rgba(218, 96, 96, 0.5);
}

nav {
  position: sticky;
  top: 0;
  background-color: #c2b1b1;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-bottom: 20px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.two-column {
  display: flex;
  gap: 20px;
}

.two-column > div {
  flex: 1;
}

@media (max-width: 600px) {
  body {
    font: size 18px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 25px;
  }
}
