body {
    background-color: rgb(93, 73, 93);
    color: rgb(231, 219, 211);
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  h1 {
    font-size: 40px;
    color: #ff6600;
    width: 400px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    margin: 30px auto;
    letter-spacing: 6px;
  }